In [14]:
import pandas as pd
import re
import os


class ENase:
    def __init__(self, data_file):
        self.data = data_file
        self.df = None

    def csv(self):
        file_name = os.path.splitext(os.path.basename(self.data))[0]
        list = []
        read_file = open(self.data)
        line = read_file.readline()
        while line:
            try:
                list.append(line)
            except ValueError:
                print('Error in line :' + line )
            line = read_file.readline()
        # Regular expression pattern for extracting values
        pattern = r'\[(.*?)\s(.*?)\] MQ2 =([\d.]+) PPM.*?MQ2.SV =([\d.]+).*?MQ3 =([\d.]+) mg/L.*?MQ3.SV =([\d.]+).*?MQ9B =([\d.]+) PPM.*?MQ9B.SV =([\d.]+).*?MQ135 =([\d.]+) PPM.*?MQ135.SV =([\d.]+).*?MP503.SV =([\d.]+).*?HCOH =([\d.]+) PPM.*?HCOH.SV =([\d.]+)'

        # Extracting data into a list of dictionaries
        data_dict = []
        for item in list:
            entries = re.findall(pattern, item)
            for entry in entries:
                date = entry[0]
                time = entry[1]
                mq2_ppm = float(entry[2])
                mq2_sv = float(entry[3])
                mq3_mg_l = float(entry[4])
                mq3_sv = float(entry[5])
                mq9b_ppm = float(entry[6])
                mq9b_sv = float(entry[7])
                mq135_ppm = float(entry[8])
                mq135_sv = float(entry[9])
                mp503_sv = float(entry[10])
                hcoh_ppm = float(entry[11])
                hcoh_sv = float(entry[12])
                data_dict.append({
                    'Date': date.replace('-',''),
                    'Time': time,
                    f'MQ2.SV {file_name}': mq2_sv,
                    f'MQ3.SV {file_name}': mq3_sv,
                    f'MQ9B.SV {file_name}': mq9b_sv,
                    f'MQ135.SV {file_name}': mq135_sv,
                    f'MP503.SV {file_name}': mp503_sv,
                    f'HCOH.SV {file_name}': hcoh_sv
                })

        # Converting list of dictionaries to DataFrame
        self.df = pd.DataFrame(data_dict)

In [15]:

vorne_sensor = ENase('.\Vorne.txt')
vorne_sensor.csv()
hinten_sensor = ENase('.\Hinten.txt')
hinten_sensor.csv()

In [16]:
vorne_sensor.df

,Date,Time,MQ2.SV Vorne,MQ3.SV,MQ9B.SV,MQ135.SV,MP503.SV,HCOH.SV
0,20240227,10:54:46.145,52.0,22.0,111.0,49.0,6.0,14.0
1,20240227,10:54:46.162,52.0,22.0,111.0,49.0,6.0,13.0
2,20240227,10:54:46.162,54.0,23.0,112.0,49.0,6.0,13.0
3,20240227,10:54:46.162,53.0,22.0,111.0,49.0,6.0,14.0
4,20240227,10:54:46.162,53.0,22.0,112.0,49.0,6.0,14.0
...,...,...,...,...,...,...,...,...
114,20240227,11:01:18.572,54.0,22.0,112.0,49.0,6.0,14.0
115,20240227,11:01:22.221,53.0,22.0,112.0,49.0,6.0,14.0
116,20240227,11:01:25.877,53.0,22.0,112.0,49.0,6.0,14.0
117,20240227,11:01:33.156,53.0,22.0,112.0,49.0,6.0,14.0
118,20240227,11:01:33.181,54.0,23.0,110.0,49.0,7.0,14.0

In [17]:
hinten_sensor.df

,Date,Time,MQ2.SV Hinten,MQ3.SV,MQ9B.SV,MQ135.SV,MP503.SV,HCOH.SV
0,20240227,10:55:09.433,58.0,23.0,118.0,6.0,35.0,13.0
1,20240227,10:55:09.433,57.0,23.0,117.0,6.0,34.0,13.0
2,20240227,10:55:09.433,57.0,23.0,118.0,6.0,33.0,13.0
3,20240227,10:55:09.433,57.0,24.0,118.0,6.0,34.0,13.0
4,20240227,10:55:09.434,57.0,23.0,118.0,6.0,34.0,13.0
...,...,...,...,...,...,...,...,...
323,20240227,11:14:40.361,56.0,24.0,120.0,130.0,32.0,15.0
324,20240227,11:14:44.040,56.0,24.0,120.0,175.0,31.0,14.0
325,20240227,11:14:47.720,56.0,23.0,120.0,238.0,31.0,13.0
326,20240227,11:14:51.396,55.0,24.0,120.0,223.0,29.0,12.0
327,20240227,11:14:55.074,55.0,24.0,120.0,319.0,29.0,11.0