In [44]:
import pandas as pd
import re

# Your data
list = [
    '[2024-02-27 10:54:46.145] MQ2 =39.33 PPM\tMQ2.SV =52\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.94 *C\tRH: 29.11 %\tTVOC_ohm: 368.87 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:46.162] MQ2 =39.33 PPM\tMQ2.SV =52\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.11 PPM\tHCOH.SV =13\tTemp: 24.95 *C\tRH: 29.07 %\tTVOC_ohm: 368.47 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:46.162] MQ2 =42.06 PPM\tMQ2.SV =54\tMQ3 =0.17 mg/L\tMQ3.SV =23\tMQ9B =0.00 PPM\tMQ9B.SV =112\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.11 PPM\tHCOH.SV =13\tTemp: 24.92 *C\tRH: 29.03 %\tTVOC_ohm: 366.43 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:46.162] MQ2 =40.69 PPM\tMQ2.SV =53\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.92 *C\tRH: 29.04 %\tTVOC_ohm: 364.42 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:46.162] MQ2 =40.69 PPM\tMQ2.SV =53\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =112\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.94 *C\tRH: 29.04 %\tTVOC_ohm: 366.03 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:46.174] MQ2 =40.69 PPM\tMQ2.SV =53\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.97 *C\tRH: 29.04 %\tTVOC_ohm: 365.22 KOhms\t\tAltit.: 160.50 m\t\n',
    '[2024-02-27 10:54:46.174] MQ2 =42.06 PPM\tMQ2.SV =54\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.98 *C\tRH: 29.01 %\tTVOC_ohm: 366.43 KOhms\t\tAltit.: 160.50 m\t\n',
    '[2024-02-27 10:54:47.684] MQ2 =40.69 PPM\tMQ2.SV =53\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =6\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 24.98 *C\tRH: 29.00 %\tTVOC_ohm: 365.62 KOhms\t\tAltit.: 160.33 m\t\n',
    '[2024-02-27 10:54:51.337] MQ2 =40.69 PPM\tMQ2.SV =53\tMQ3 =0.16 mg/L\tMQ3.SV =22\tMQ9B =0.00 PPM\tMQ9B.SV =111\tMQ135 =3689.10 PPM\tMQ135.SV =49\tMP503.SV =7\tHCOH =1.15 PPM\tHCOH.SV =14\tTemp: 25.01 *C\tRH: 28.98 %\tTVOC_ohm: 364.42 KOhms\t\tAltit.: 160.16 m\t'
]

In [45]:
# Regular expression pattern for extracting values
pattern = r'\[(.*?)\] MQ2 =([\d.]+) PPM.*?MQ2.SV =([\d.]+).*?MQ3 =([\d.]+) mg/L.*?MQ3.SV =([\d.]+).*?MQ9B =([\d.]+) PPM.*?MQ9B.SV =([\d.]+).*?MQ135 =([\d.]+) PPM.*?MQ135.SV =([\d.]+).*?MP503.SV =([\d.]+).*?HCOH =([\d.]+) PPM.*?HCOH.SV =([\d.]+).*?Temp: ([\d.]+) \*C.*?RH: ([\d.]+) %.*?TVOC_ohm: ([\d.]+) KOhms.*?Altit.: ([\d.]+) m.*?$'

In [46]:
# Extracting data into a list of dictionaries
data_dict = []
for item in list:
    entries = re.findall(pattern, item)
    for entry in entries:
        print(len(entry))
        date = entry[0]
        time = entry[1]
        mq2_ppm = float(entry[2])
        mq2_sv = float(entry[3])
        mq3_mg_l = float(entry[4])
        mq3_sv = float(entry[5])
        mq9b_ppm = float(entry[6])
        mq9b_sv = float(entry[7])
        mq135_ppm = float(entry[8])
        mq135_sv = float(entry[9])
        mp503_sv = float(entry[10])
        hcoh_ppm = float(entry[11])
        hcoh_sv = float(entry[12])
        temp1 = float(entry[13])
        data_dict.append({
            'Date': date.replace('-',''),
            'Time': time,
            f'MQ2.SV ': mq2_sv,
            f'MQ3.SV ': mq3_sv,
            f'MQ9B.SV ': mq9b_sv,
            f'MQ135.SV ': mq135_sv,
            f'MP503.SV ': mp503_sv,
            f'HCOH.SV ': hcoh_sv,
            'Temp': temp1,
        })

# Converting list of dictionaries to DataFrame
df = pd.DataFrame(data_dict)

13

IndexError: tuple index out of range

In [ ]:
df

,Date,Time,MQ2.SV,MQ3.SV,MQ9B.SV,MQ135.SV,MP503.SV,HCOH.SV
0,20240227 10:54:46.145,39.33,0.16,0.0,3689.1,6.0,1.15,24.94
1,20240227 10:54:46.162,39.33,0.16,0.0,3689.1,6.0,1.11,24.95
2,20240227 10:54:46.162,42.06,0.17,0.0,3689.1,6.0,1.11,24.92
3,20240227 10:54:46.162,40.69,0.16,0.0,3689.1,6.0,1.15,24.92
4,20240227 10:54:46.162,40.69,0.16,0.0,3689.1,6.0,1.15,24.94
5,20240227 10:54:46.174,40.69,0.16,0.0,3689.1,6.0,1.15,24.97
6,20240227 10:54:46.174,42.06,0.16,0.0,3689.1,6.0,1.15,24.98
7,20240227 10:54:47.684,40.69,0.16,0.0,3689.1,6.0,1.15,24.98
8,20240227 10:54:51.337,40.69,0.16,0.0,3689.1,7.0,1.15,25.01